.title{
    margin-top: 20px;
    text-align: center;
}
.article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    
    &__item{
        width: 40%;
    }
}
.text{
    margin-top: 10px;
}